$secondary_font_color:#2a9d8f;
$primary-text-color:#264653;
$secondary_background_color: #f9c46c;

@mixin change_nav_link_color {

    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        color: $nav_font_color;

        &:hover {
            background-color: $secondary_background_color;
            color: $primary-text-color;
        }

    }
}

.bg-light {
    background-color: #ffffff !important;
}

.nav {
    .navbar-nav {
        flex-direction: row;
        text-transform: uppercase;

    }

}

@include change_nav_link_color();